* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
	height: 100vh;
	background-color: #fa1b1bd2;
	// text-align: center;
}

.header {
	.nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 10vh;
		.logo {
			color: #fff;
			letter-spacing: 1px;
		}
		ul {
			display: flex;
			justify-content: space-around;
			width: 75%;
			li {
				align-self: center;
				a {
					color: #fff;
					letter-spacing: 1px;
				}
				button {
					border-radius: 50px;
					width: 240px;
					padding: 10px 40px;
					background-color: transparent;
					color: #fff;
					font-size: 0.9rem;
					letter-spacing: 2px;
					outline: none;
				}
			}
		}
	}
}

.header-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	.info-image {
		display: block;
		align-self: center;
		justify-self: center;
		width: 500px;
		margin-top: 90px;
		img {
			width: 100%;
		}
	}
	.call-action {
		align-self: center;
		justify-self: center;
		min-width: 400px;
		max-width: 500px;
		h1 {
			font-size: 4.5rem;
			color: #fff;
		}
		button {
			width: 400px;
			margin-top: 20px;
			padding: 25px 10px;
			border-radius: 50px;
			font-size: 1.2rem;
			background-color: #fccd4d;
			outline: none;
		}
	}
}
